        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; YelpCamp 2017 - John Clancy | <a class="text-muted-anchor" href="/campgrounds">Home</a> | 
            <a class="text-muted-anchor" href="/campgrounds/new">New Campground</a> | <a class="text-muted-anchor" href="/about">About</a> | 
            <a class="text-muted-anchor" href="/contact">Contact</a></p>
          </div>
        </footer>
        <!--jQuery CDN-->
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
        <!--bootstrap js-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--custom frontend js-->
        <script src="/scripts/search.js"></script>
        <script src="/scripts/frontend.js"></script>
    </body>
</html>