<% include ./partials/header %>

<div class="container">
    <div class="well" id="contact">
        <h1>Contact</h1>
        <hr class="about-contact">
        <h3>Email: <a href="mailto:johnclancy@outlook.com">johnclancy@outlook.com</a></h3>
        <h3>Phone: 832-891-1062</h3>
    </div>
</div>

<% include ./partials/footer %>