<% include ./partials/header %>

<div class="container login">
    <h1>Login!</h1>
    <a href="/register"><h5>(or sign up!)</h5></a>

    <div class="form-style">
        <form action="/login" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button>Login</button>
            </div>
        </form>
    </div>
</div>

<% include ./partials/footer %>