body {
    font-family: "Nunito";
    background-color: #C9F5C9;
}

hr {
    border-top: 1px solid #5cb85c;
}

.jumbotron {
    background-color: #5cb85c;
    color: #fff;
}

.navbar-default {
    background-color: #5cb85c;
    border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {*/
/*    background-color: #C9F5C9;*/
/*}*/

.thumbnail {
    padding: 0;
    background-color: #5cb85c;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption {
    color: #fff;
}

.thumbnail .caption-full {
    padding: 9px;
}

.caption-full {
    color: #fff;
}

.caption-full a {
    color: #fff;
}

.form-style {
    width: 30%; 
    margin: 30px auto;
}

.lead {
    display: inline-block;
}

.login-header {
    text-align: center;
}

#input-comment {
    width: 50%;
}

#add-comment {
    width: 18%;
    min-width: 100px;
}

#back {
    font-size: 1em;
}

#delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

/*#login-anchor {*/
/*    margin-right: 15px;*/
/*}*/
