body {
    font-family: "Nunito";
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

.login {
    text-align: center;
}

#back {
    font-size: 1em;
}

#delete-form {
    display: inline;
}
